body {
    background-color: rgb(176, 220, 231);
}

.header {
    color: maroon;
}

.text {
    color:rgb(17, 9, 88)
}

.header,
ul.recipes {
    text-align: center;
}

.recipes li,
img {
    display: block;
}

img {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}